@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #264653;
    font-family: 'Roboto', sans-serif;
}

.lil-break {
    border: 2px solid lightgrey;
    margin: 16px 0px;
}

button {
    padding: 4px 16px;
    font-weight: bolder;
}