
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #264653;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

body > * {
    padding: 32px 15vw;
}

header,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #E76F51;
    font-weight: bolder;
    min-height: 10vh;
}

footer {
    flex: 0 1 auto;
}

.scratchpaper-links {
    display: flex;
    background-color: #F4A261;
    flex: 1 1 auto;
}

.scratchpaper-links a {
    text-decoration: none;
}

ul,
ol {
    /* list-style-type: none; */
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-weight: bold;
}

/* DEBUGGING */

.scratchpaper-links {
    /* border: 2px solid red; */
}